<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>autosavedContentsBookmark</key>
		<data>
		Ym9va+gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA5AIAAAUAAAABAQAAVXNlcnMAAAALAAAAAQEAAGF4ZWxzY2h3YXJ6AAcA
		AAABAQAATGlicmFyeQAUAAAAAQEAAEF1dG9zYXZlIEluZm9ybWF0aW9uIgAA
		AAEBAABVbnNhdmVkIFhjb2RlIERvY3VtZW50Lnhjd29ya3NwYWNlAAAUAAAA
		AQYAAAQAAAAUAAAAKAAAADgAAABUAAAACAAAAAQDAAAeuwoAAAAAAAgAAAAE
		AwAABm4LAAAAAAAIAAAABAMAAAduCwAAAAAACAAAAAQDAADc7x0AAAAAAAgA
		AAAEAwAA13ckAgAAAAAUAAAAAQYAAJwAAACsAAAAvAAAAMwAAADcAAAACAAA
		AAAEAABBwwEfwYCD8xgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
		CAAAAAQDAAADAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
		AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEHB
		3kSAAAAAJAAAAAEBAAA3MEY3NjI1RS1GNzJDLTRCRTctQUM2Ri1FNzAwMDg0
		QTg0RDkYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
		LwAAAAAAAAABBQAA4QAAAAECAABhN2QyOGQ3ODA5ZjY1ZmNmZDAyNDczOGM0
		ZmJkMWZkNGY2YmMwZjljMWRhODY5YTgwZDdhYTIzYjVjZjVjOTY4OzAwOzAw
		MDA4MDAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29t
		LmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDE7MDEwMDAwMDQ7MDAw
		MDAwMDAwMDFkZWZkYzs1NTsvdXNlcnMvYXhlbHNjaHdhcnovbGlicmFyeS9h
		dXRvc2F2ZSBpbmZvcm1hdGlvbgAAAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
		AACAAAAAAAAAAAUQAADsAAAAAAAAABAQAAAYAQAAAAAAAEAQAAAIAQAAAAAA
		AAIgAADkAQAAAAAAAAUgAABUAQAAAAAAABAgAABkAQAAAAAAABEgAACYAQAA
		AAAAABIgAAB4AQAAAAAAABMgAACIAQAAAAAAACAgAADEAQAAAAAAADAgAADw
		AQAAAAAAAAHAAAA4AQAAAAAAABHAAAAUAAAAAAAAABLAAABIAQAAAAAAAIDw
		AAD4AQAAAAAAAA==
		</data>
		<key>isExpendable</key>
		<true/>
		<key>recordDate</key>
		<date>2021-03-17T13:45:39Z</date>
		<key>uniquingNumber</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
